

.smileyGrid{
   position: absolute;
   bottom: 70px;
   right: 20px;
   width: 150px;
   height: 200px;
   background-color:rgba(184, 182, 182, 0.835);
   display: grid;
   grid-template-columns: repeat(3,1fr);
   grid-template-rows: repeat(4,1fr);
   align-items: center;
   justify-items: center;
   border-radius: 5px;
}
.smiley{
   font-size: 180%;
   cursor: pointer;
}
.smiley p{
   margin: 0;
   padding: 0;

}

.logoChat{
   position: absolute;
   right: 4vw;
   bottom: 4vh;
   width: 70px;
   height: 70px;
   border-radius: 50%;
   background-color: rgba(184, 182, 182, 0.835);
   display: flex;
   align-items: center;
   justify-content: center;
   transition: 0.5s ease-in-out;
   cursor: pointer;
   
}
.logoChat img{
   width: 70%;
   
   
}

.container button{
   outline: 0;
   border: 0;
   padding: 0;
   cursor: pointer;
   background-color: #fff;
   
}

.container{
   
   overflow: hidden;
   position: absolute;
   bottom: 10px;
   right: 10px;
   margin: 0px auto;
   display: flex;
   justify-content: start;
   flex-direction: column;
   align-items: center;
   max-width: 500px;
   max-height: 600px;
   background-color: #fff;
   border-radius: 10px;
   transition: 0.5s ease-in-out;
   scale: 1;
}
.hidden{
   display: none;
}

.container img{
   width: 30px;
}
.anim_out{
   transform-origin: bottom right;
   transform: scale(0);
}
.anim_in{
   transform-origin: bottom right;
   /* transform-origin: center; */
   transform: scale(1);
   transition: 0.5s ease-in-out 0.5s;

}
.menu{
   width: 100%;
   padding: 5px 10px;
   height: 50px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-bottom: solid 1px;
   border-color: rgb(172, 172, 172);
   background-color: #fff;
}
.back {
   display: flex;
   align-items: center;
   font-size: 16px;
}
.profil{
   text-align: center;
}
.profil :first-child{
   font-size: 16px;
   font-weight: 600;
}
.profil :last-child{
   font-size: 14px;
   font-weight: 300;
}
.interaction{
   display: flex;
   /* width: 70px; */
   justify-content: space-around;
   cursor: pointer;
}
.interaction button{
   margin: 0 5px;
}
/* card dialog  */

.chat{
   width: 100%;
   height: 500px;
   border-bottom: solid 1px ;
   border-color: rgb(172, 172, 172);
   /* overflow: hidden; */
   overflow:scroll;
   overflow-x: hidden;
   padding: 10px 0;
}
/* Alignement */
.containerCard{
   display: flex;
   padding: 10px 0;
}
.right{
    flex-direction: row-reverse;
}

.left{
   justify-content: start;

}
.card{
   width: 50%;
   display: flex;
}
.card.left :nth-child(2){
   background-color: rgb(235, 235, 235);
}
.card.right :nth-child(2){
   background-color:#d4edf5;
}
.photo{
   margin: 10px;
   width: 40px;
   height: 40px;
   flex-shrink: 0;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   border-radius: 50%;
}
.photo1{
   background-image: url(images/image1.jpg);
}
.photo2{
   background-image: url(images/image2.jpg);
}
.photo3{
   background-image: url(images/image3.jpg);
}
.message{
   width: 100%;
   margin-left: 10px;
   padding: 10px 10px;
   border-radius: 10px;
}
.profilCard{
   padding: 0;
   margin: 0;
   margin-bottom: 10px;
   line-height: 1.2;
}
.profilCard p{
   margin: 0;
   padding: 0;
}
.nameCard{
   font-size: 16px;
   font-weight: bold;
   color: rgb(78, 78, 78);
}
.timeCard{
   font-size: 14px;
   font-weight: 400;
   color: rgb(50, 50, 50);
}
.text{
   background-color: chocolate;
   line-height: 1.5;
}

/* Controler */

.control{
   height: 80px;
   width: 100%;
   background-color: rgb(218, 217, 217);
   display: flex;
   align-items: center;
   justify-content: space-around;

}

.inputControl{
   background-color: #fff;

   width: 90%;
   display: flex;
   align-items: center;
   justify-content: space-around;
   margin: 0px;
   padding: 0 10px;
   border-radius: 999px ;

}
#inputMessage{
   background-color: #fff;
   width: 70%;
   padding: 10px 5px;
   margin: 0;
   outline: 0;
   border: 0;
   font-size: 16px;
   resize: none;
   height: 50px;
}
@media screen and (max-width : 500px){
   .container{
      position: absolute;
      bottom: 0;
      right: 0;
      margin: 0;
      padding: 0;
     
      /* height: 100vh; */
   }
   .card{
      width: 90%;
   }
   .chat{
      height: 60vh;
   }
}